.layout-container {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.side-menu {
  width: 12rem;
  height: 100%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidemenu-header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sidemenu-header > div:first-child {
  padding: 1rem;
}

.body-container {
  height: 100%;
  width: calc(100% - 12rem);
  display: flex;
  flex-direction: column;
}

.header {
  height: 8rem;
  width: 100%;
  background-color: azure;
}

.router-outlet {
  width: 100%;
  height: calc(100% - 8rem);
  background-color: #fff;
}

.nav-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 7px;
  color: var(--primary-white-color);
  box-sizing: border-box;
  padding: 6px 18px;
  cursor: pointer;
}

.user-informatiom {
  box-sizing: border-box;
  padding: 10px;
}
