<div class="layout-container">
  <aside class="side-menu">
    <div class="sidemenu-header">
      <div>
        <img src="assets/image/logo.svg" />
        <span>Track It</span>
      </div>

      <!-- <div> -->
      <div
        class="nav-container"
        *ngFor="let menu of navigationList"
        [class.is-active-menu]="isActive(menu.path)"
        (click)="handleNavigation(menu.path)"
      >
        <!-- <div > -->
        <img src="{{ menu.icon }}" />
        <a class="nav-name" [class.is-active-nav-name]="isActive(menu.path)">{{
          menu.navName
        }}</a>
        <!-- </div> -->
      </div>
      <!-- </div> -->
    </div>

    <div class="user-informatiom">
      <img src="assets/image/ic_profile_pic.svg" />
      <div>
        <p>Punya B K</p>
        <p>Free Account</p>
      </div>
      <img src="assets/image/ic_logout.svg" />
    </div>
  </aside>

  <div class="body-container">
    <!-- <header class="header"></header>

    <div class="router-outlet"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
  </div>
</div>
