<div class="main-container">
  <div class="expense-header">
    <p>Budget Management</p>
    <button (click)="addBudget()">Add New</button>
  </div>

  <div class="container">
    <div
      class="card-container"
      *ngFor="let budget of data; index as i"
      [ngClass]="getBudgetCardClassName(budget)"
    >
      <div class="icons-container">
        <p>{{ budget.categoryId.name }}</p>
        <div>
          <mat-icon class="icon" (click)="updateBudget(budget)">edit</mat-icon>
          <mat-icon class="icon" (click)="deleteBudget(budget._id)"
            >delete</mat-icon
          >
        </div>
      </div>
      <div class="budget-container">
        <div>
          <p>Spent</p>
          <span>{{ budget.totalExpense }}</span>
        </div>

        <div>
          <p>Left to psend</p>
          <span>{{ budget.amount - budget.totalExpense }}</span>
        </div>

        <div>
          <p>Limit</p>
          <span>{{ budget.amount }}</span>
        </div>
      </div>

      <span>{{ getBudgetCardDescription(budget) }}</span>
    </div>
  </div>
</div>
