<div class="dialog-body-container">
  <h1 mat-dialog-title>Add Budget</h1>
  <div mat-dialog-content>
    <form
      [formGroup]="budgetForm"
      class="form-container"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-gp">
        <label>Category* :</label>
        <div class="input-and-error">
          <select
            placeholder="Select category"
            formControlName="categoryId"
            class="select-field"
            required
          >
            <option value="">Select category</option>
            <option *ngFor="let option of categories" [value]="option._id">
              {{ option.name }}
            </option>
          </select>
          <div
            class="error-message-container"
            *ngIf="
              budgetForm.get('categoryId').touched &&
              budgetForm.get('categoryId').invalid
            "
          >
            <span
              class="error-message"
              *ngIf="budgetForm.get('categoryId').errors?.required"
              >Please select the category</span
            >
          </div>
        </div>
      </div>

      <div class="form-gp">
        <label>Expense* :</label>
        <div class="input-and-error">
          <input
            class="input-field"
            label="expense"
            formControlName="amount"
            type="text"
            inputmode="”numeric”"
            placeholder="Enter Expense"
          />
          <div
            class="error-message-container"
            *ngIf="
              budgetForm.get('amount').touched &&
              budgetForm.get('amount').invalid
            "
          >
            <span
              class="error-message"
              *ngIf="budgetForm.get('amount').errors?.required"
              >Expense is required</span
            >
            <span
              class="error-message"
              *ngIf="budgetForm.get('amount').hasError('pattern')"
            >
              Budget amount must be a valid number.
            </span>
            <span
              class="error-message"
              *ngIf="budgetForm.get('amount').hasError('min')"
            >
              Budget amount must be a positive number.
            </span>
          </div>
        </div>
      </div>

      <div class="dialog-action-button">
        <button
          class="add-expense-button"
          [disabled]="!budgetForm.valid"
          [class.is-disabled]="!budgetForm.valid"
          type="submit"
        >
          {{ this.getButtonText() }}
        </button>
      </div>
    </form>
  </div>
</div>
