.dialog-body-container {
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  box-sizing: border-box;
  padding: 20px;
}

.form-gp {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  row-gap: 20px;
}

.form-gp label {
  display: flex;
  align-items: start;
  width: 100px;
  font-size: 0.8rem;
}

.input-and-error {
  width: calc(100% - 70px);
  position: relative;
}

.input-field {
  width: 100%;
  height: 40px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.dialog-action-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-expense-button {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.is-disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border: none;
  cursor: default;
}

.select-field {
  width: 100%;
  height: 40px;
}

.select-field option {
  font-size: 13px;
}

.error-message-container {
  position: absolute;
  bottom: -20px;
  width: 100%;
  max-width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-message {
  color: var(--primary-error-color);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-invalid {
  border: 1.5px solid var(--primary-error-color) !important;
}