<div class="container">
  <div class="dashboard-header">
    <p>Dashboard</p>
    <div>
      <img src="assets/image/ic_notification.svg" />
    </div>
  </div>
  <div class="insights-container">
    <div>
      <img src="assets/image/ic_total_budget.svg" />
      <div class="budget-details">
        <p>30,000</p>
        <span>Total Budget</span>
      </div>
    </div>

    <div>
      <img src="assets/image/ic_total_expense.svg" />
      <div class="budget-details">
        <p>30,000</p>
        <span>Total Budget</span>
      </div>
    </div>

    <div>
      <img src="assets/image/ic_total_amount_left.svg" />
      <div class="budget-details">
        <p>30,000</p>
        <span>Total Budget</span>
      </div>
    </div>
  </div>

  <div class="expenses-container">
    <p>Recent Expenses</p>
    <div>
      <div class="expense-container">
        <h5>Office Communication</h5>
        <span>24 Oct 2024, Thursday</span>
        <p>Fuel expense from Gurugram office to home since 3 days</p>
        <div class="spent-amount">
          <span>Amount</span>
          <p>1000.00</p>
        </div>
        <div class="cat-details">
          <div>Fuel</div>
          <img src="assets/image/ic_menu.svg" />
        </div>
      </div>

      <div class="expense-container">
        <h5>Office Communication</h5>
        <span>24 Oct 2024, Thursday</span>
        <p>Fuel expense from Gurugram office to home since 3 days</p>
        <div class="spent-amount">
          <span>Amount</span>
          <p>1000.00</p>
        </div>
        <div class="cat-details">
          <div>Fuel</div>
          <img src="assets/image/ic_menu.svg" />
        </div>
      </div>

      <div class="expense-container">
        <h5>Office Communication</h5>
        <span>24 Oct 2024, Thursday</span>
        <p>Fuel expense from Gurugram office to home since 3 days</p>
        <div class="spent-amount">
          <span>Amount</span>
          <p>1000.00</p>
        </div>
        <div class="cat-details">
          <div>Fuel</div>
          <img src="assets/image/ic_menu.svg" />
        </div>
      </div>

      <div class="expense-container">
        <h5>Office Communication</h5>
        <span>24 Oct 2024, Thursday</span>
        <p>Fuel expense from Gurugram office to home since 3 days</p>
        <div class="spent-amount">
          <span>Amount</span>
          <p>1000.00</p>
        </div>
        <div class="cat-details">
          <div>Fuel</div>
          <img src="assets/image/ic_menu.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
