<div class="container">
  <div class="dashboard-header">
    <p>Dashboard</p>
    <div>
      <img src="assets/image/ic_notification.svg" />
    </div>
  </div>
  <div class="insights-container">
    <div>
      <div class="total-budget">
        <img src="assets/image/ic_total_budget.svg" />
      </div>
      <div class="budget-details">
        <p>30,000</p>
        <span>Total Budget</span>
      </div>
    </div>

    <div>
      <div class="total-budget">
        <img src="assets/image/ic_total_expense.svg" />
      </div>
      <div class="budget-details">
        <p>30,000</p>
        <span>Total Budget</span>
      </div>
    </div>

    <div>
      <div class="total-budget">
        <img src="assets/image/ic_total_amount_left.svg" />
      </div>
      <div class="budget-details">
        <p>30,000</p>
        <span>Total Budget</span>
      </div>
    </div>
  </div>
  <div class="expense-container">
    <p>Recent Expenses</p>
    <div></div>
  </div>
</div>
